.legal {
  width: 90%;
  padding: 50px;
  margin: 0 50px;
  h2 {
    margin-top: 20px;
    text-align: justify;

    &:after {
      margin: 20px auto 0 0;
    }
  }

  ul {
    padding-bottom: 20px;
    li {
      text-align: left;
      list-style-position: inside;
      padding-bottom: 10px;
    }
  }

  p {
    padding-bottom: 20px;
    text-align: justify;
  }

  a {
    color: $color2;

    &:hover {
      cursor: url(../img/cursor-white.ico), pointer;

      color: $color1;
    }
  }
}
