@charset "UTF-8";
@font-face {
  font-family: "quicksand";
  src: url(../fonts/quicksand.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "quicksand", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #fff;
  text-align: center;
  cursor: url(../img/cursor-gold.ico), pointer;
}

body {
  background: #000000;
  -webkit-animation: fadeIn 0.7s linear;
          animation: fadeIn 0.7s linear;
}

h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-bottom: 50px;
  background: -webkit-linear-gradient(-180deg, #f1c566 20%, #d59646 80%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
h2:after {
  content: "";
  display: block;
  width: 80px;
  margin: 20px auto 0;
  border: 2px solid #d59646;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  cursor: url(../img/cursor-black.ico), pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
a:hover {
  color: #000;
}
@media screen and (max-width: 900px) {
  a:hover {
    color: #fff;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes hiddenPopUp {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hiddenPopUp {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
button {
  background: radial-gradient(circle, #f1c566 20%, #d59646 80%);
  border: none;
  padding: 10px 20px;
  border-radius: 360px;
  margin: 10px auto;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: url(../img/cursor-white.ico), pointer;
}
button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
button:hover a {
  color: #000;
  text-shadow: 0 0 5px transparent;
  cursor: url(../img/cursor-white.ico), pointer;
}
@media screen and (max-width: 900px) {
  button:hover a {
    -webkit-transform: none;
            transform: none;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  }
}
button a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

button[type=submit] {
  background: radial-gradient(circle, #f1c566 20%, #d59646 80%);
  border: none;
  padding: 10px 20px;
  border-radius: 360px;
  margin: 20px auto;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  cursor: url(../img/cursor-white.ico), pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
button[type=submit]:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: #000;
  text-shadow: 0 0 5px transparent;
}
@media screen and (max-width: 900px) {
  button[type=submit]:hover {
    -webkit-transform: none;
            transform: none;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  }
}

.contactButton {
  position: fixed;
  bottom: 40px;
  right: 20px;
}
.contactButton .buttonCall {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.contactButton .buttonCall:hover i {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
@media screen and (max-width: 900px) {
  .contactButton .buttonCall:hover i {
    -webkit-transform: none;
            transform: none;
  }
}
.contactButton .buttonCall:hover p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fadeIn 0.7s linear;
          animation: fadeIn 0.7s linear;
}
@media screen and (max-width: 900px) {
  .contactButton .buttonCall:hover p {
    display: none;
  }
}
.contactButton .buttonCall p {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding: 20px 20px 40px;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  background: radial-gradient(circle, #f1c566 20%, #d59646 80%);
}
.contactButton .buttonCall i {
  background: radial-gradient(circle, #f1c566 20%, #d59646 80%);
  font-size: 1.8rem;
  padding: 20px;
  border-radius: 360px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: url(../img/cursor-white.ico), pointer;
}

#cookiePopup {
  background: #000;
  position: fixed;
  width: 70vw;
  max-width: 42.85em;
  -webkit-box-shadow: 0 0 5px #f1c566;
          box-shadow: 0 0 5px #f1c566;
  text-align: justify;
  line-height: 1.8em;
  padding: 2em 1.4em;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  z-index: 10000000000000000000000000000000000000000;
}
@media screen and (max-width: 37.5em) {
  #cookiePopup {
    width: 100%;
  }
}
#cookiePopup img {
  display: block;
  width: 3.75em;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  position: relative;
  margin: auto;
}
#cookiePopup p {
  text-align: center;
  margin: 1.4em 0;
  font-size: 0.9rem;
}
#cookiePopup p a {
  font-weight: bold;
  cursor: url("../img/cursor-gold.ico"), pointer;
}
#cookiePopup p a:hover {
  color: #f1c566;
  cursor: url("../img/cursor-white.ico"), pointer;
}
#cookiePopup button {
  padding: 1em 1.4em;
  display: block;
  position: relative;
  margin: auto;
  text-transform: uppercase;
  font-weight: bold;
}

.hide {
  -webkit-animation: hiddenPopUp 0.7s linear;
          animation: hiddenPopUp 0.7s linear;
  bottom: 0;
  right: 2em;
  visibility: hidden;
}
@media screen and (max-width: 37.5em) {
  .hide {
    bottom: 2em;
    right: 0;
  }
}

.show {
  visibility: visible;
  bottom: 2em;
  right: 2em;
}
@media screen and (max-width: 37.5em) {
  .show {
    bottom: 0;
    right: 0;
  }
}

.title-page {
  width: 90%;
  margin: 0 auto;
  background: radial-gradient(circle, #f1c566 20%, #d59646 80%);
  padding: 10px 0;
  border-radius: 360px;
  margin-bottom: 50px;
  cursor: url(../img/cursor-black.ico), pointer;
}
.title-page h1 {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: url(../img/cursor-black.ico), pointer;
}

header {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  display: grid;
  grid-template-columns: 15% 85%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  z-index: 10000000000000000000000000;
}
@media screen and (max-width: 900px) {
  header {
    grid-template-columns: 85% 15%;
  }
}
header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .logo:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
@media screen and (max-width: 900px) {
  header .logo:hover img {
    -webkit-transform: none;
            transform: none;
  }
}
header .logo img {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 100%;
}
@media screen and (max-width: 900px) {
  header .logo img {
    width: 170px;
  }
}
header .menuIcons {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 900px) {
  header .menuIcons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
header .menuIcons i {
  border-radius: 360px;
  padding: 10px 20px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #f1c566), color-stop(80%, #d59646));
  background: linear-gradient(-180deg, #f1c566 20%, #d59646 80%);
  font-size: 1.8rem;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
header .menuIcons #closeIcon {
  display: none;
}
header nav {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 900px) {
  header nav {
    display: none;
    width: 80vw;
    margin: 20px auto;
  }
}
header nav ul {
  width: 80%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #f1c566), color-stop(80%, #d59646));
  background: linear-gradient(-180deg, #f1c566 20%, #d59646 80%);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 360px;
  margin: 0 0 0 auto;
}
@media screen and (max-width: 900px) {
  header nav ul {
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
header nav ul li {
  list-style: none;
}
@media screen and (max-width: 900px) {
  header nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}
header nav ul li:first-child a {
  border-radius: 360px 0 0 360px;
}
@media screen and (max-width: 900px) {
  header nav ul li:first-child a {
    border-radius: 20px 20px 0 0;
  }
}
header nav ul li:last-child a {
  border-radius: 0 360px 360px 0;
}
@media screen and (max-width: 900px) {
  header nav ul li:last-child a {
    border-radius: 0 0 20px 20px;
    border-bottom: none;
  }
}
header nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  padding: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  letter-spacing: 1px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 900px) {
  header nav ul li a {
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #f1f1f1;
  }
}
header nav ul li a:hover {
  color: #000;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  text-shadow: 0 0 5px transparent;
}
@media screen and (max-width: 900px) {
  header nav ul li a:hover {
    color: #fff;
    -webkit-transform: none;
            transform: none;
  }
}

main .hero {
  background: url(../img/hero.webp) right/contain no-repeat;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 900px) {
  main .hero {
    width: 100%;
    background: url(../img/hero.webp) center/cover no-repeat;
  }
}
main .hero .hero-container {
  cursor: url(../img/cursor-black.ico), pointer;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #f1c566), color-stop(80%, #d59646));
  background: linear-gradient(-180deg, #f1c566 20%, #d59646 80%);
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 900px) {
  main .hero .hero-container {
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(241, 197, 102, 0.8)), color-stop(80%, rgba(213, 150, 70, 0.8)));
    background: linear-gradient(-180deg, rgba(241, 197, 102, 0.8) 20%, rgba(213, 150, 70, 0.8) 80%);
    padding: 50px;
  }
}
main .hero .hero-container img {
  width: 300px;
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
  cursor: url(../img/cursor-black.ico), pointer;
  margin: 0 auto 20px;
}
@media screen and (max-width: 900px) {
  main .hero .hero-container img {
    width: 80%;
  }
}
main .hero .hero-container h1 {
  color: #000;
  font-size: 1.5rem;
  margin-bottom: 50px;
  font-weight: normal;
  cursor: url(../img/cursor-black.ico), pointer;
}
main .hero .hero-container h1:before {
  content: "";
  display: block;
  width: 60px;
  margin: 20px auto 40px;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
main .hero .hero-container button {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border: 2px solid #fff;
  cursor: url(../img/cursor-black.ico), pointer;
}
main .hero .hero-container button:hover {
  border: 2px solid #000;
}
main #services {
  padding: 50px;
  width: 90%;
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  main #services {
    padding: 50px 0;
  }
}
main #services p {
  padding-bottom: 50px;
}
main #services .services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media screen and (max-width: 900px) {
  main #services .services-container {
    grid-template-columns: 1fr;
  }
}
main #services .services-container .service-item {
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #f1c566), color-stop(80%, #d59646));
  background: linear-gradient(-180deg, #f1c566 20%, #d59646 80%);
  border-radius: 10px;
  padding: 20px;
  cursor: url(../img/cursor-black.ico), pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
main #services .services-container .service-item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.25);
          box-shadow: 0 0 5px rgba(255, 255, 255, 0.25);
}
main #services .services-container .service-item i {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 20px;
  font-size: 2rem;
  background: radial-gradient(circle, #f1c566 20%, #d59646 80%);
  padding: 40px;
  border: 2px solid #fff;
  border-radius: 360px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  cursor: url(../img/cursor-black.ico), pointer;
}
main #services .services-container .service-item h3 {
  padding-bottom: 20px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  cursor: url(../img/cursor-black.ico), pointer;
}
main #services .services-container .service-item p {
  padding-bottom: 0;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  cursor: url(../img/cursor-black.ico), pointer;
}
main .galerie {
  padding: 50px;
  width: 90%;
  margin: 0 auto;
}
main .galerie button {
  margin: 50px 0 0;
}
main .galerie .title-section {
  display: grid;
  grid-template-columns: 70% 30%;
}
@media screen and (max-width: 900px) {
  main .galerie .title-section {
    grid-template-columns: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
main .galerie .title-section h2 {
  text-align: left;
  padding-bottom: 30px;
}
@media screen and (max-width: 900px) {
  main .galerie .title-section h2 {
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 0;
  }
}
main .galerie .title-section h2::after {
  margin: 20px 0 0;
}
@media screen and (max-width: 900px) {
  main .galerie .title-section h2::after {
    margin: 20px auto;
  }
}
main .galerie .title-section .iconsChangement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 20px;
}
@media screen and (max-width: 900px) {
  main .galerie .title-section .iconsChangement {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0 50px;
  }
}
main .galerie .title-section .iconsChangement i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 360px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #f1c566), color-stop(80%, #d59646));
  background: linear-gradient(-180deg, #f1c566 20%, #d59646 80%);
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: url(../img/cursor-white.ico), pointer;
}
main .galerie .title-section .iconsChangement i:hover {
  background: radial-gradient(circle, #f1c566 20%, #d59646 80%);
}
main .galerie .galerie-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .galerie .galerie-item {
  display: none; /* Par défaut, toutes les images sont masquées */
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.33% - 10px);
          flex: 0 0 calc(33.33% - 10px);
  margin: 0 10px;
  gap: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media screen and (max-width: 900px) {
  main .galerie .galerie-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 10px);
            flex: 0 0 calc(100% - 10px);
    overflow: hidden;
  }
}
main .galerie .galerie-item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 900px) {
  main .galerie .galerie-item:hover {
    -webkit-transform: none;
            transform: none;
    -webkit-box-shadow: 0 0 10px transparent;
            box-shadow: 0 0 10px transparent;
  }
}
main .galerie .galerie-item:hover img {
  -webkit-box-shadow: 0 0 10px #f1c566;
          box-shadow: 0 0 10px #f1c566;
}
@media screen and (max-width: 900px) {
  main .galerie .galerie-item:hover img {
    -webkit-box-shadow: 0 0 0 transparent;
            box-shadow: 0 0 0 transparent;
  }
}
main .galerie .galerie-item img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  display: block;
}
main .galerie .galerie-item p {
  display: none;
}
main #a-propos {
  width: 90%;
  margin: 50px auto;
  cursor: url(../img/cursor-black.ico), pointer;
}
main #a-propos .a-propos-container {
  display: grid;
  grid-template-columns: 40% 60%;
  border-radius: 10px;
  cursor: url(../img/cursor-black.ico), pointer;
}
@media screen and (max-width: 900px) {
  main #a-propos .a-propos-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
main #a-propos .a-propos-container .a-propos-img {
  background: url(../img/a-propos.webp) right/contain no-repeat;
  background-attachment: fixed;
  border-radius: 0 10px 10px 0;
}
@media screen and (max-width: 900px) {
  main #a-propos .a-propos-container .a-propos-img {
    border-radius: 10px;
    background: none;
    background-attachment: none;
  }
}
main #a-propos .a-propos-container .a-propos-img img {
  width: 100%;
  display: none;
}
@media screen and (max-width: 900px) {
  main #a-propos .a-propos-container .a-propos-img img {
    display: block;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px #f1c566;
            box-shadow: 0 0 10px #f1c566;
    margin-bottom: 50px;
  }
}
main #a-propos .a-propos-container .a-propos-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  margin: 0 0 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #f1c566), color-stop(80%, #d59646));
  background: linear-gradient(-180deg, #f1c566 20%, #d59646 80%);
  border-radius: 10px 0 0 10px;
  cursor: url(../img/cursor-black.ico), pointer;
}
@media screen and (max-width: 900px) {
  main #a-propos .a-propos-container .a-propos-text {
    border-radius: 10px;
  }
}
main #a-propos .a-propos-container .a-propos-text h2 {
  color: #fff;
  cursor: url(../img/cursor-black.ico), pointer;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}
main #a-propos .a-propos-container .a-propos-text h2:after {
  border: 2px solid #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
main #a-propos .a-propos-container .a-propos-text h3 {
  padding-bottom: 20px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
main #a-propos .a-propos-container .a-propos-text p {
  cursor: url(../img/cursor-black.ico), pointer;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  text-align: justify;
}
main #contact {
  width: 90%;
  margin: 50px auto;
  background: #000;
}
main #contact p {
  padding-bottom: 50px;
}
main #contact form {
  width: 50%;
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  main #contact form {
    width: 100%;
  }
}
main #contact form input,
main #contact form textarea {
  display: block;
  margin: 0 auto 10px;
  padding: 7px 10px;
  width: 100%;
  font-size: 1rem;
  color: #fff;
  background: transparent;
  border: 1px solid #d59646;
  border-radius: 10px;
}
main #contact form input:hover, main #contact form input:focus, main #contact form input:active,
main #contact form textarea:hover,
main #contact form textarea:focus,
main #contact form textarea:active {
  outline: 2px solid #f1c566;
}
main #contact form #checkbox-div {
  display: grid;
  grid-template-columns: 5% 95%;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main #contact form #checkbox-div input[type=checkbox] {
  -moz-appearance: none;
       appearance: none; /* Supprime le style par défaut */
  -webkit-appearance: none; /* Pour Safari */
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  background-color: white;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  -webkit-transition: border 0.3s ease;
  transition: border 0.3s ease;
  border-radius: 5px;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}
main #contact form #checkbox-div input[type=checkbox]:checked {
  background-color: #f1c566;
  border-color: #f1c566;
}
main #contact form #checkbox-div input[type=checkbox]:hover {
  border-color: #f1c566;
}
main #contact form label {
  text-align: left;
  font-size: 0.9rem;
}
main #contact form label a {
  font-weight: bold;
}
main #contact form label a:hover {
  color: #f1c566;
  cursor: url("../img/cursor-white.ico"), pointer;
}
main #contact form p {
  height: 25px;
  padding-bottom: 10px;
  font-size: 0.8rem;
  color: red;
}

footer {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #f1c566), color-stop(80%, #d59646));
  background: linear-gradient(-180deg, #f1c566 20%, #d59646 80%);
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 15px 50px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  cursor: url(../img/cursor-white.ico), pointer;
}
@media screen and (max-width: 900px) {
  footer {
    grid-template-columns: 1fr;
  }
}
footer p,
footer a {
  font-size: 0.9rem;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: url(../img/cursor-white.ico), pointer;
}
footer a:hover {
  text-shadow: 0 0 5px transparent;
}
footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: url(../img/cursor-white.ico), pointer;
}
@media screen and (max-width: 900px) {
  footer .copyright {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 20px;
  }
}
footer .legal-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: url(../img/cursor-white.ico), pointer;
}
@media screen and (max-width: 900px) {
  footer .legal-link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.legal {
  width: 90%;
  padding: 50px;
  margin: 0 50px;
}
@media screen and (max-width: 900px) {
  .legal {
    margin: 0;
  }
}
.legal h2 {
  margin-top: 20px;
  text-align: justify;
}
.legal h2:after {
  margin: 20px auto 0 0;
}
.legal ul {
  padding-bottom: 20px;
}
.legal ul li {
  text-align: left;
  list-style-position: inside;
  padding-bottom: 10px;
}
.legal p {
  padding-bottom: 20px;
  text-align: justify;
}
.legal a {
  color: #d59646;
}
.legal a:hover {
  cursor: url(../img/cursor-white.ico), pointer;
  color: #f1c566;
}
@media screen and (max-width: 900px) {
  .legal a:hover {
    color: #d59646;
  }
}

#services-pages {
  width: 87%;
  margin: 30px auto;
  padding: 30px 0 0;
  text-align: center;
}
#services-pages #details,
#services-pages #avantages {
  margin-top: 50px;
}
#services-pages #details #details-container,
#services-pages #details #avantages-container,
#services-pages #avantages #details-container,
#services-pages #avantages #avantages-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}
@media screen and (max-width: 1170px) {
  #services-pages #details #details-container,
  #services-pages #details #avantages-container,
  #services-pages #avantages #details-container,
  #services-pages #avantages #avantages-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
#services-pages #details #details-container .detail-item,
#services-pages #details #details-container .avantage-item,
#services-pages #details #avantages-container .detail-item,
#services-pages #details #avantages-container .avantage-item,
#services-pages #avantages #details-container .detail-item,
#services-pages #avantages #details-container .avantage-item,
#services-pages #avantages #avantages-container .detail-item,
#services-pages #avantages #avantages-container .avantage-item {
  height: 100%;
  background: radial-gradient(circle, #f1c566 20%, #d59646 80%);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 20px;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  cursor: url(../img/cursor-black.ico), pointer;
}
#services-pages #details #details-container .detail-item i,
#services-pages #details #details-container .avantage-item i,
#services-pages #details #avantages-container .detail-item i,
#services-pages #details #avantages-container .avantage-item i,
#services-pages #avantages #details-container .detail-item i,
#services-pages #avantages #details-container .avantage-item i,
#services-pages #avantages #avantages-container .detail-item i,
#services-pages #avantages #avantages-container .avantage-item i {
  font-size: 2rem;
  padding: 40px;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  display: block;
  width: 40px;
  height: 40px;
  background: radial-gradient(circle, #f1c566 20%, #d59646 80%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 20px;
  border-radius: 360px;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  cursor: url(../img/cursor-black.ico), pointer;
}
#services-pages #details #details-container .detail-item h3,
#services-pages #details #details-container .avantage-item h3,
#services-pages #details #avantages-container .detail-item h3,
#services-pages #details #avantages-container .avantage-item h3,
#services-pages #avantages #details-container .detail-item h3,
#services-pages #avantages #details-container .avantage-item h3,
#services-pages #avantages #avantages-container .detail-item h3,
#services-pages #avantages #avantages-container .avantage-item h3 {
  padding-bottom: 30px;
  cursor: url(../img/cursor-black.ico), pointer;
}
#services-pages #details #details-container .detail-item h3:after,
#services-pages #details #details-container .avantage-item h3:after,
#services-pages #details #avantages-container .detail-item h3:after,
#services-pages #details #avantages-container .avantage-item h3:after,
#services-pages #avantages #details-container .detail-item h3:after,
#services-pages #avantages #details-container .avantage-item h3:after,
#services-pages #avantages #avantages-container .detail-item h3:after,
#services-pages #avantages #avantages-container .avantage-item h3:after {
  content: "";
  display: block;
  width: 60px;
  margin: 20px auto 0;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
#services-pages #details #details-container .detail-item p,
#services-pages #details #details-container .avantage-item p,
#services-pages #details #avantages-container .detail-item p,
#services-pages #details #avantages-container .avantage-item p,
#services-pages #avantages #details-container .detail-item p,
#services-pages #avantages #details-container .avantage-item p,
#services-pages #avantages #avantages-container .detail-item p,
#services-pages #avantages #avantages-container .avantage-item p {
  color: #fff;
  cursor: url(../img/cursor-black.ico), pointer;
}

#intro-portfolio {
  text-align: center;
  width: 87%;
  margin: 30px auto 0;
  padding: 20px 30px;
}

#portfolio-portfolio {
  width: 87%;
  margin: 30px auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 1170px) {
  #portfolio-portfolio {
    grid-template-columns: 1fr;
  }
}
#portfolio-portfolio a {
  height: 100%;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
#portfolio-portfolio a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 900px) {
  #portfolio-portfolio a:hover {
    -webkit-transform: none;
            transform: none;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  }
}
#portfolio-portfolio a img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}/*# sourceMappingURL=index.css.map */