footer {
  background: $degradeLineaire;
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 15px 50px;
  box-shadow: 0 0 10px $blackShadow;

  @media screen and (max-width: 900px) {
    grid-template-columns: 1fr;
  }

  p,
  a {
    font-size: 0.9rem;
    text-shadow: 0 0 5px $blackShadow;
    transition: 0.2s;
  }

  a {
    &:hover {
      text-shadow: 0 0 5px transparent;
    }
  }

  .copyright {
    display: flex;
    justify-content: start;
    align-items: center;

    @media screen and (max-width: 900px) {
      justify-content: center;
      padding-bottom: 20px;
    }
  }

  .legal-link {
    display: flex;
    justify-content: end;
    align-items: center;

    @media screen and (max-width: 900px) {
      justify-content: center;
    }
  }
}
